{
	"overrides": [
		{
			"files": ["*.json", "*.md"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	],
	"trailingComma": "es5",
	"tabWidth": 4,
	"semi": false,
	"singleQuote": true,
	"useTabs": true,
	"bracketSpacing": false,
	"jsxSingleQuote": false,
	"printWidth": 120,
	"arrowParens": "avoid",
	"proseWrap": "preserve",
	"endOfLine": "auto"
}
