.todo {
	display: block;
	margin: 0 1px;
}

.todoIndent1 {
	display: block;
	padding-left: 22px;
	border-left: 2px solid #d0d7de;
	margin: 0 1px;
}

.todoIndent2 {
	display: block;
	padding-left: 22px;
	margin-left: 24px;
	border-left: 2px solid #d0d7de;
	margin: 0 1px;
}

.checkbox {
	margin-right: 6px;
}

.done {
	opacity: 0.55;
}
